body {
    font-family: Arial, sans-serif;
    background-color: #E0E2E9;
    margin: 0;
    padding: 0;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipe-card {
    background-color: #545365;
    border-radius: 10px;
    padding: 20px;
    color: #E0E2E9;
}

.recipe-card h2 {
    color: #318897;
    margin-bottom: 10px;
}

.recipe-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.recipe-card p {
    color: #BDF0D6;
}

a {
    color: #BDF0D6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}